body {
    background-color: #fff;
    color: #7c7c7c;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 10px 0;
    text-align: left;
}
* {
    font-family: 'Noto Sans TC','Microsoft JhengHei','Hei',sans-serif;
    word-break: break-word;
}
*, :after, :before {
    box-sizing: border-box;
}
.main_nav{
    padding-left: 15px;
    padding-right: 15px;
    background: #fff;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
}
.navFixed {
    display: block;
    z-index: 10;          
    position: fixed;      
    top: 0;
    width: 100%;
  }
.logo{
    padding: 15px;
    display: inline-block;
}
.logo img{
    height: 50px;
}
.dropdown{
    list-style: none;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    padding: 0;
}
.dropdown li{
    margin: 8px 20px;
}
.dropdown li a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #7c7c7c;
    font-size: 16.8px;
    font-weight: 400;
}
@media (min-width: 1200px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1920px;
  }
}

img{
    max-width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}
.container{
    margin-bottom:30px;
}
.block4{
    max-width: min(100%, 1200px);
    padding: 0 15px;
}
.section-heading{
    margin-bottom: 15px;
    text-align: center;
}
h2{
    padding: 0 20px;
    font-size: 24px;
    display: inline-block;
    position: relative;
    color: #7c7c7c;
}
.section-heading h2:before {
    border-top: 1px solid #7c7c7c;
    content: "";
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 1px;
    left: -80px;
    top: 15px;
    transition: .3s;
}
.section-heading h2:after {
    border-top: 1px solid #7c7c7c;
    content: "";
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 1px;
    right: -80px;
    top: 15px;
    transition: .3s;
}
h3{
    font-size: 20px;
}
.content_desc{
    padding-bottom: 5px;
}
p{
    color:#7c7c7c;
}
#footer {
    padding: 40px 0 13px;
    font-size: 14px;
    background-color: #f5f5f5;
    overflow: hidden;
}
ul li{
    list-style-type:none;
}
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color:#7c7c7c;
}
#footer li{
    padding-right: 15px;
    margin-right: 10px;
    line-height: 25px;
    color:#7c7c7c;
    border-right-width: 1px;
    border-right-style: solid;
}
.footer_ul{
    display: inline-flex;
    flex-wrap: wrap;
}
.footer_p{
    padding-left: 2rem;
}
.mobile_nav{
    display: flex;
    align-items: center;
    margin: 0 15px;
    padding-bottom: 5px;
}
.mobile_navFixed {
    display: block;
    z-index: 10;          
    position: fixed;      
    top: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
  }
.mobile_menu{
    font-size: 30px;
    width: 30%;
}
.mobile_logo{
    width: 70%;
}
@media (max-width: 991px) {
    body{
        padding-top: 55px; 
        margin: 0;
    }
    .main_nav {
        display: none;
    }
}
@media (min-width: 992px) {
    body{
        padding-top: 95px; 
    }
    .visible-md {
        display: none;
    }
}
@media (max-width: 767px){
    .col-6 img {
        margin-bottom: 10px;
    }
    .col-6 {
        padding: 0 5px;
    }
    .container {
        margin-bottom: 15px;
    }
    h2 {
        padding: 0 15px;
        font-size: 18px;
    }
    h3{
        font-size: 16px;
    }
    .content_desc {
        padding: 0px 25px;
        font-size: 14px;
    }
    .col {
        padding: 0 5px;
    }
    .footer_p {
        padding-left: 0;
    }
    ul {
        padding-left: 0;
    }
}
.drawer-nav {
    background-color: #fff;
    color: #222;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 13rem;
    z-index: 101;
    transition:left .6s cubic-bezier(.19,1,.22,1);
    left: -13rem;
}
#drawer-nav-show {
    left: 0;
}
.drawer-nav-open{
    left: 0;
}
.drawer-nav .dropdown {
    display: block;
}
.drawer-nav .dropdown li{
    margin: 0;
}
.drawer-nav .dropdown li a{
    border: none;
    border-bottom: 1px solid #E2E2E2;
    background: none;
    padding: 10px;
    width: 100%;
}
#drawer-nav > li:not(.nav-logo) a{
    background: #6B5F54;
    color: #ffffff;
}
.drawer-overlay {
    background-color: rgba(0,0,0,.2);
    height: 100%;
    display: none;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
#draw-overlay {
    display: block;
}
.nav-logo {
    position: relative;
    border-bottom: 1px solid #E2E2E2;
}
.tra-info {
    margin-top: 15px;
}
.tra-info h3{
    color: #666666;
}
.tra-info p{
    padding: 0 25px;
    line-height: 30px;
}
.tra-section-heading {
    border-left: 3px solid #624D4A;
    padding-left: 15px;
    margin-left: 25px;
}
.map-responsive {
    margin-top: 15px;
    position: relative;
    padding-bottom: 35%;
    height: 0;
    overflow: hidden;
}
.map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
/* dorm-rule */
.awesome-i {
    margin-right: 16px;
}
.dorm-rule {
    margin-top: 15px;
    margin-left: 25px;
}
.rule-space {
    margin-bottom: 16px
}
.rule-title {
    font-size: 17px;
    margin-bottom: 8px
}
.rule-p {
    font-size: 14px;
    line-height: 15px;
    text-align: left;
}
.rule-p li{
    margin-bottom: 10px
}
.check-info {
    margin: 15px 50px;
}
.check-info ul{
    padding-left: 0;
}
.check-info a{
    color: #50a5cd;
}
.check-info .tra-section-heading {
    margin-bottom: 20px;
}
.att-section-heading {
    border-left: 3px solid #624D4A;
    padding-left: 10px;
    margin-left: 5px;
}
.check-info .att-section-heading {
    margin-bottom: 15px;
    margin-top: 15px;
}
.att-info {
    margin: 15px 50px;
}
.att-info ul{
    margin-left: 5px;
}
.att-info li{
    list-style-type: circle;
    line-height: 20px;
}
.att-info a{
    color: #50a5cd;
}
.att-block {
    margin-bottom: 16px;
}
@media (max-width: 767px){
    .tra-section-heading {
        margin-left: 0;
    }
    .map-responsive {
        padding-bottom: 60%;
    }
    .check-info {
        margin: 10px 0;
    }
    .att-info {
        margin: 10px 0;
    }
    .att-info ul {
        margin-left: 18px;
    }
}

/* 輪播圖css */
.carousel-bottom {
    margin-bottom: 50px;
}
@media (max-width: 767px){
    .carousel-bottom {
        margin-bottom: 30px;
    }
}

@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,.slick-next
{
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 35px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: #fff !important;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 #a3a3a3;
    text-align: center;
    justify-content: center;
    height: 70px;
    opacity: .7;
    font-weight: 900;
    z-index: 2;
}
@media(max-width: 767px){
    .slick-prev,.slick-next{
        width: 20px;
        height: 45px; 
    }
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: gray;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: .5rem;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '<';
}
[dir='rtl'] .slick-prev:before
{
    content: '>';
}

.slick-next
{
    right: .5rem;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '>';
}
[dir='rtl'] .slick-next:before
{
    content: '<';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '●';
    text-align: center;
    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}